[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
profanityfilter = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
imdbpy = "*"
flask-caching = "*"

[dev-packages]

[requires]
python_version = "3.6"
